apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: trident-operator
  labels:
    app: operator.trident.netapp.io
rules:
  # Permissions same as Trident
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims/status
    verbs:
      - update
      - patch
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - resourcequotas
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
      - update
  - apiGroups:
      - storage.k8s.io
    resources:
      - volumeattachments
    verbs:
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - storage.k8s.io
    resources:
      - volumeattachments/status
    verbs:
      - update
      - patch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshots
      - volumesnapshotclasses
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotclasses
    verbs:
      - create
      - delete
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshots/status
      - volumesnapshotcontents/status
    verbs:
      - update
      - patch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotcontents
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshots
    verbs:
      - list
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotclasses
    verbs:
      - list
      - watch
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotcontents
    verbs:
      - get
      - list
      - watch
      - patch
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotcontents/status
    verbs:
      - update
  - apiGroups:
      - csi.storage.k8s.io
    resources:
      - csidrivers
      - csinodeinfos
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - storage.k8s.io
    resources:
      - csidrivers
      - csinodes
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - trident.netapp.io
    resources:
      - tridentversions
      - tridentbackends
      - tridentstorageclasses
      - tridentvolumes
      - tridentvolumepublications
      - tridentvolumereferences
      - tridentnodes
      - tridenttransactions
      - tridentsnapshots
      - tridentbackendconfigs
      - tridentbackendconfigs/status
      - tridentmirrorrelationships
      - tridentmirrorrelationships/status
      - tridentactionmirrorupdates
      - tridentactionmirrorupdates/status
      - tridentsnapshotinfos
      - tridentsnapshotinfos/status
      - tridentgroupsnapshots
      - tridentgroupsnapshots/status
      - tridentactionsnapshotrestores
      - tridentactionsnapshotrestores/status
      - tridentnoderemediations
      - tridentnoderemediations/status
      - tridentnoderemediationtemplates
      - tridentnoderemediationtemplates/status
      - tridentprovisioners # Required for Tprov
      - tridentprovisioners/status # Required to update Tprov's status section
      - tridentorchestrators # Required for torc
      - tridentorchestrators/status # Required to update torc's status section
      - tridentconfigurators # Required for tconf
      - tridentconfigurators/status # Required to update tconf's status section
      - tridentautogrowpolicies
      - tridentautogrowpolicies/status
      - tridentautogrowrequestinternals
      - tridentautogrowrequestinternals/status
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    verbs:
      - use
    resourceNames:
      - trident-controller
      - trident-node-linux
      - trident-node-windows
  # Now Operator specific permissions
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - create
      - patch
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - create
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident
      - trident-csi
      - trident-controller
  - apiGroups:
      - apps
    resources:
      - daemonsets
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident
      - trident-csi
      - trident-csi-windows
      - trident-node-linux
      - trident-node-windows
  - apiGroups:
      - ""
    resources:
      - pods/exec
      - services
      - serviceaccounts
    verbs:
      - get
      - list
      - create
  - apiGroups:
      - ""
    resources:
      - pods/exec
      - services
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident-csi
      - trident
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident-controller
      - trident-node-linux
      - trident-node-windows
      - trident-csi
      - trident
  - apiGroups:
      - authorization.openshift.io
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
      - clusterroles
      - clusterrolebindings
    verbs:
      - list
      - create
  - apiGroups:
      - authorization.openshift.io
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
      - clusterroles
      - clusterrolebindings
    verbs:
      - get
      - delete
      - update
      - patch
    resourceNames:
      - trident-node-remediation-access
      - trident-controller
      - trident-node-linux
      - trident-node-windows
      - trident-csi
      - trident
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    verbs:
      - list
      - create
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    resourceNames:
      - tridentpods
      - trident-controller
      - trident-node-linux
      - trident-node-windows
    verbs:
      - delete
      - update
      - patch
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    verbs:
      - get
      - list
      - create
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    resourceNames:
      - trident-controller
      - trident-node-linux
      - trident-node-windows
      - trident
    verbs:
      - delete
      - update
      - patch
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    verbs:
      - use
    resourceNames:
      - tridentoperatorpods
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
