# To regenerate bundle.yaml, from deploy directory run:
# $ kubectl kustomize . > bundle.yaml
#
# Kustomize will merge the specified files also in the correct order.
# Namespace needs to be created before this is applied. 

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - operator.yaml
  