apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: tridentoperatorpods
  labels:
    app: operator.trident.netapp.io
spec:
  privileged: false
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  runAsUser:
    rule: RunAsAny
  fsGroup:
    rule: RunAsAny
  volumes:
    - projected
